services: 

  db:
    image: postgres
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: example
    build: 
      dockerfile: sql/Dockerfile 
      

#  adminer:
#    image: adminer
#    restart: always
#    ports:
#      - 8080:8080
